@import '~@theme';

.login {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .login-form {
        width: 600px;
        padding: 36px 36px 12px;
        box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
        .ant-form-item{
            padding: 0 80px
        }
    }
    .logoBox {
        text-align: center;
        margin-bottom: 15px;
        .title {
            font-size: 40px;
        }
    }
    .copyright{
        position: absolute;
        bottom: 20px;
        color: @gray-color;
        font-size: @font-size-base;
    }
}

